.admin-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 620px;
}

.admin-tabs {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.admin-tabs-content {
  width: 100%;
  padding: 1rem;
}
.tab-label {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}

.tab-label:hover {
  color: #b3b3b3;
}


